<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879976614814-edq295pnhad4nb081n011b8kr135i26g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879976614814-edq295pnhad4nb081n011b8kr135i26g</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>879976614814-g1vlq69f6rvdidrj0mtj1ftn79jbfmh1.apps.googleusercontent.com</string>
</dict>
</plist>